.carousel-cell {
    height: 50vh; 
    position: relative;     
    text-align: center;
    img { 
        object-fit: cover;
    }
}
   
.flickity-page-dots {
    display: none;
}

#btn-restart {
    position: fixed;
    background-color:black;
    color: aliceblue;
    text-transform: uppercase;
    top: 0;
    right: 0;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
}
   