.carousel-cell {
    width: 100%; 
    height: 50vh;
    min-height: 250px; 
    margin-right: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    .container {
        max-width: 1200px;
        display: flex;
        align-items: flex-end;
        color: aliceblue;
      }
}
  
#number-one {
    background-image: url("https://images.pexels.com/photos/87374/pexels-photo-87374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#number-two {
    background-image: url("https://images.pexels.com/photos/1114892/pexels-photo-1114892.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#number-three {
    background-image: url("https://images.pexels.com/photos/1243538/pexels-photo-1243538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#number-four {
    background-image: url("https://images.pexels.com/photos/42061/architecture-building-city-dark-42061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#number-five {
    background-image: url("https://images.pexels.com/photos/83133/night-83133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.flickity-page-dots {
    display: none;
}

#btn-restart {
    position: fixed;
    background-color:black;
    color: aliceblue;
    text-transform: uppercase;
    top: 0;
    right: 0;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
  }