.main-carousel {
    height: 50vh;
    min-height: 250px;
    .container {
        // max-width: 1200px;  
        width: 100%;  
        text-align: center;
        img {
            object-fit: fill;
            height: 50vh;
            width: 100%;
            position: relative;
        }
        .caption {
            position: absolute;
            bottom: 0;
            color: aliceblue; 
            padding: 0;   
        }
    }
}

.progress-bar {
    
}

.flickity-page-dots {
    display: none;
}

#btn-restart {
    position: fixed;
    background-color:black;
    color: aliceblue;
    text-transform: uppercase;
    top: 0;
    right: 0;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
}
   